  <section class="preloader preloader2 row" [hidden]="hideloader">
        <div class="before_half row m0"></div>
        <div class="after_half row m0"></div>
        <div class="row m0 content">            
            <div class="circle">
                <div class="red">
                    <div class="rotator">
                        <img src="assets/images/curve.png" alt="">
                    </div>
                    <a href="#" class="logo">ADBCD</a>
                </div>
            </div>
        </div>
    </section>
    
    
<!--*****************************************************************************************************************-->
    <!--About Us Here-->
    <section class="row about_us_page" *ngIf="movie">
        <div class="container">
            <div class="row m0 inner_col">
                <div class="col-sm-6 page_img">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2{{movie.poster_path}}" alt="" class="img-responsive">
                </div>
                <div class="col-sm-6 texts_about">
                    <div class="row m0 heading">
                        <h2>{{movie.original_title}}</h2>
                    </div>
                    <div class="page_content">
                        <p>{{movie.overview}}</p>
                    </div>                    
                </div>                
            </div>            
        </div>
    </section>
    <!--About Us Here-->
<!--*****************************************************************************************************************-->
    
<!--*****************************************************************************************************************-->
    <!--Special Projects Here-->
    <section class="row special_projects">
        <div class="media">
            <div class="media-left">special projects</div>
            <div class="media-body">
                <div class="col-sm-3 special_project special_project1">
                    <a href="#">World Humanitarian Day: voices from the field revisited</a>
                </div>
                <div class="col-sm-3 special_project special_project2">
                    <a href="#">Breaking news on 2016 year and interview with many people</a>
                </div>
                <div class="col-sm-3 special_project special_project3">
                    <a href="#">Forbes Billionaires: Full List Of Th Richest People In The World</a>
                </div>
                <div class="col-sm-3 special_project special_project4">
                    <a href="#">Most top places and the best apartments with AirBNB service</a>
                </div>
            </div>
        </div>
    </section>
    <!--Special Projects Here-->
<!--*****************************************************************************************************************-->
    
<!--*****************************************************************************************************************-->
    <!--Staff Section Here-->
    <section class="row staffs">
        <div class="container">
            <h3 class="sectionTitle w">Our Staff</h3>
            <div class="owl-carousel staffs_carousel">
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/1.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>linda Meggis <span>Chief Editor</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/2.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>Elise Summer <span>Reporter</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/3.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>Marry Ranger <span>Newswriter</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/1.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>linda Meggis <span>Chief Editor</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/2.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>Elise Summer <span>Reporter</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/3.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>Marry Ranger <span>Newswriter</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/1.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>linda Meggis <span>Chief Editor</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/2.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>Elise Summer <span>Reporter</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/3.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>Marry Ranger <span>Newswriter</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/1.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>linda Meggis <span>Chief Editor</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/2.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>Elise Summer <span>Reporter</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
                <div class="item">
                    <div class="staff-img row m0"><img src="assets/images/staffs/3.jpg" alt=""></div>
                    <div class="staff_details row m0">
                        <h3>Marry Ranger <span>Newswriter</span></h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Staff Section Here-->
<!--*****************************************************************************************************************-->
    
<!--*****************************************************************************************************************-->
    <!--Testimonail Section Here-->
    <section class="row testimonials">
        <div class="container">
            <h3 class="sectionTitle b">What people say about us</h3>
            <div class="row">
                <div class="col-sm-6 testimonial">
                    <div class="media quote">
                        <div class="media-left"><i class="fa fa-quote-right quote_icon"></i></div>
                        <div class="media-body media-middle">
                            <p>Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra</p>
                        </div>
                    </div>
                    <div class="media testi_auth">
                        <div class="media-left"><a href="#"><img src="assets/images/testimonial/testi_auth/1.jpg" alt=""></a></div>
                        <div class="media-body media-middle">
                            <h5><a href="#">Orlando Ricky</a></h5>
                            <p>California</p>
                        </div>
                        <div class="media-right"><span>August 6, 2015</span></div>
                    </div>
                </div>
                <div class="col-sm-6 testimonial">
                    <div class="media quote">
                        <div class="media-left"><i class="fa fa-quote-right quote_icon"></i></div>
                        <div class="media-body media-middle">
                            <p>Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra</p>
                        </div>
                    </div>
                    <div class="media testi_auth">
                        <div class="media-left"><a href="#"><img src="assets/images/testimonial/testi_auth/2.jpg" alt=""></a></div>
                        <div class="media-body media-middle">
                            <h5><a href="#">Orlando Ricky</a></h5>
                            <p>California</p>
                        </div>
                        <div class="media-right"><span>August 6, 2015</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonail Section Here-->
<!--*****************************************************************************************************************-->